
/*GENERAL*/
@font-face {
    font-family: Font;
    src: url('./fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Medium.ttf');
  }
  
  *{
    font-family: Font;
  }

body{
    background-color: rgb(242, 242, 242);
}

/*HEADER*/
  .header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(195, 179, 216);
    margin-top: 30px;
  }
  
  .header li {
    float: left;
  }
  
  .header li a {
    display: block;
    color: rgb(51, 51, 51);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .header li a:hover {
    background-color:rgb(242, 242, 242);
  }

  /*HEADER*/


  /*HOME PAGE*/

  h3 {
    font-style: italic;
    font-size: 30px;
    color: rgb(51, 51, 51);
    margin-top: 0px;
  }

  h1 {
    font-size: 150px;
    margin-top: 50px;
    padding:0%;
    color: rgb(195, 179, 216);
    margin-left: 0%;
    margin-bottom: 0px;
}

.showProyects {
  size: 100px;
  display: inline-flex;
}

/*img {
  height: 500px;
  align-self: center;
}*/

/*HOME PAGE*/
 
  /*ANIMATION TEST*/
 /* body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
  }

  .homePage{
    display: inline-flex;
  }

  .homePage .static-text {
    font-size: 60px;
    color: rgb(51, 51, 51);
    font-weight: 400;
  }

  .homePage .dynamic-text {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
  }

  .dynamic-text li {
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    color: rgb(195, 179, 216);
    top:0;
    animation: slide 6s steps(3) infinite;
  }

  @keyframes slide {
    100% {
     top:-360px;
    }}


  .dynamic-text li span {
    position: relative;
  }


  .dynamic-text li span::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid rgb(195, 179, 216);
    left: 0;
    animation: typing 2s steps(13) infinite;
    background-color: rgb(242, 242, 242);
  }

  @keyframes typing {
    100% {
      left:100%;
      margin: 0 -35px 0 35px;
    }}*/
  